* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --hue: 200;
    --bg-primary: hsl(var(--hue), 35%, 30%);
    --bg-main: hsl(var(--hue), 50%, 80%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%);
    --icon-color: hsl(var(--hue), 95%, 8%);

    --button-color: rgba(255, 255, 255, 0);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    background: var(--bg-primary);
    overflow: auto;
    position: relative;
}

header {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: var(--fc-primary);
    font-size:  clamp(2rem, 2rem + 5vw, 15rem);
}

.bgIntroduction{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.introduction{
    background: rgb(220, 220, 220);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;

    height: clamp(45rem, 60%, 40rem);
    width: clamp(30rem, 80%, 80rem);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    margin: auto;
    animation: downtop 1000ms 200ms backwards;
}

.introduction h2{
    font-size: 1.5em;
}
.introduction p{
    font-size: 1em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: clamp(30rem, 60%, 70rem);
    width: clamp(31.5rem, 80%, 80rem);
    margin: 0 auto 2rem;

    border-radius: 6px;
    background: var(--bg-main);
    color: var(--fc-secondary-dark);

    text-align: center;
    font-size: clamp(2rem, 3rem + 1vw, 5rem);
    line-height: clamp(2rem, 4rem + 1vw, 6rem);

    box-shadow: 0px 0px 50px 10px var(--fc-secondary-dark);
    transition: 200ms;
}

main h1{
    font-size: clamp(2rem, 2rem + 1vw, 10rem);
}

main h2{
    font-size: clamp(1.6rem, 1.6rem + 1vw, 3rem);
    color: var(--fc-secondary-dark);
}

.home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mode{
    height: clamp(15rem, 17rem + 1vw, 20rem);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: clamp(2rem, 2.5rem + 1vw, 5rem) 0;
}

.miniCircle{
    background-color: red;
    border: 5px solid rgb(136, 23, 23);
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.TextMiniCircle{
    display: flex;
}
.GreenMiniCircle{
    background-color: rgb(0, 255, 21);
    border: 4px solid rgb(23, 136, 29);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}
.RedMiniCircle{
    background-color: red;
    border: 5px solid rgb(136, 23, 23);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

.modeCircles{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.oneCircle,
.threeCircle{
    color: var(--fc-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);

    border-radius: 3rem;
    width: 15rem;
    height: 15rem;

    transition: 150ms;
}

.oneCircle:hover,
.threeCircle:hover{
    background-color: rgba(0, 0, 0, 0.6);
    width: 14rem;
    height: 14rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px 2px var(--bg-primary)
}

.oneCircle{
    margin: 0;
}

.threeCircle{
    margin-left: 5px;
    padding: 5px;
}

.circle {
    height: 20rem;
    width: 20rem;
    border-radius: 100%;
    cursor: pointer;
    border: 10px solid rgb(191, 56, 56);
    background-color: red;
}

.gameWithThreeCircles{
    display: flex;
    gap: 0.5rem;
    
}

.gameWithThreeCircles .circle{
    height: 10rem;
    width: 10rem;
    
}


button {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    background: var(--button-color);
    color: var(--button-color);
    cursor: pointer;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    gap: 2rem;
}

#threeSecondsToStartOver{
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid var(--fc-secondary-dark);
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
}

.averageScreen h2{
    margin-top: 3rem;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons{
    width: clamp(30rem, 80%, 80rem);;
    text-align: center;
    position: relative;
}

ion-icon{
    font-size: clamp(40px, 50px + 1vw, 700px);
    color: var(--icon-color);
    transition: 150ms;
    border-radius: 20px;
}

ion-icon:hover{
    color: var(--fc-secondary-dark);  
}

.back{
    position: absolute;
    left: 2rem;
}

.colorPalette{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.palette{
    border-radius: 100%;
}

.circleColors{
    background-color: var(--bg-main);
}

.bgColor{
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--bg-main);
    border-radius: 20px;
    animation-name: righttoleft;
    animation-duration: 30ms;
}


.color{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}
#blue{
    background: rgb(0, 183, 255);
    border: 5px solid rgb(0, 85, 119);
    cursor: pointer;
}
#blue:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 85, 119, 0.8);
}
#green{
    background: rgb(0, 255, 0);
    border: 5px solid rgb(2, 113, 2);
    cursor: pointer;
}
#green:hover{
    box-shadow: 0px 0px 10px 1px rgb(2, 113, 2, 0.8);
}
#red{
    background: rgb(255, 76, 76);
    border: 5px solid rgb(141, 46, 46);
    cursor: pointer;
}
#red:hover{
    box-shadow: 0px 0px 10px 1px rgb(141, 46, 46, 0.8);
}
#purple{
    background: rgb(128, 0, 255);
    border: 5px solid rgb(72, 1, 142);
    cursor: pointer;
}
#purple:hover{
    box-shadow: 0px 0px 10px 1px rgb(72, 1, 142, 0.8);
}

@keyframes righttoleft {
    0%{
        opacity: 0;
        transform: translatex(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

@media (min-width: 700px) and (min-height: 700px){
    header {
        height: 15rem;
    }

    
    .mode{
        height: clamp;
    }

    .circle {
        height: 30rem;
        width: 30rem;
    }

    .oneCircle,
    .threeCircle{
    width: 20rem;
    height: 20rem;
    }

    .oneCircle:hover,
    .threeCircle:hover{
    width: 18.5rem;
    height: 18.5rem;
    }

    .gameWithThreeCircles{
        flex-direction: row;
        gap: 3rem;
    }
    
    .gameWithThreeCircles .circle{
        height: 15rem;
        width: 15rem;
    }

}

@media (min-height: 1000px) and (min-height: 1000px){
    .introduction{
        height: clamp(45rem, 60%, 60rem);
        width: clamp(30rem, 80%, 90rem);
        line-height: 1.3em;
    }

    .introduction h2{
        font-size: 1.7em;
        line-height: 1.3em;
    }
    .introduction p{
        font-size: 1.2em;
        line-height: 1.3em;
    }

    main{
        margin: 2rem auto 4rem;
    }

    .gameWithThreeCircles{
        gap: 5rem;
    }
    
    .gameWithThreeCircles .circle{
        height: 20rem;
        width: 20rem;
    }
}
  
.hide{
    display: none;
}
