main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 50vh;
    width: min(800px, 90vw);
    margin: 0 auto 2rem;

    border-radius: 6px;
    background: var(--bg-main);
    color: var(--fc-secondary-dark);

    text-align: center;
    line-height: clamp(2rem, 4rem + 1vw, 6rem);

    box-shadow: 0px 0px 50px 10px var(--fc-secondary-dark);
    /*transition: 100ms;*/
}
